* {
    &,
    &:before,
    &:after {
        box-sizing: border-box;
    }
}

body {
    margin-top: $header-height-mobile;
    background-color: $color-primary;
    font-family: 'Rubik', sans-serif;
    font-size: rem(16);
    line-height: 1.5;

    @include media-breakpoint-up(lg) {
        margin-top: $header-height-desktop;
    }
}

.container {
    max-width: $container-width;
    margin: 0 auto;
}

ol,
ul {
    margin: 0;
    padding: 0;
}

a {
    &:not(.btn) {
        &:link {
            color: $color-primary;
            text-decoration: none;
        }

        &:visited {
            color: $color-primary;
        }
    }
}

img {
    max-width: 100%;
}
