* {
    &,
    &:before,
    &:after {
        box-sizing: border-box;
    }
}

body {
    font-family: 'Rubik', sans-serif;
    font-size: rem(16);
    line-height: 1.5;
}

.container {
    max-width: $container-width;
    margin: 0 auto;
}

ol,
ul {
    margin: 0;
}

a {
    &:link {
        color: $color-primary;
        text-decoration: none;
    }

    &:visited {
        color: $color-primary;
    }
}