$color-primary: #ee7b45;
$color-primary-light: #fbd9ca;
$color-primary-lighter: #ffece3;
$color-primary-lightest: #fcf9f2;

$color-secondary: #c5c5c5;
$color-secondary-light: #f0f0f0;

$enable-important-utilities: true !default;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 750px,
  lg: 990px,
  xl: 1400px
);

$gutter-sm: 18px;