.about {
    background: no-repeat url('/images/about-bg.jpg') center;
    background-size: cover;

    .page-header-text {
        opacity: 1;
        transform: translateX(0);
    }

    main {
        padding-right: $gutter-sm;
        padding-left: $gutter-sm;
        background-color: transparent;

        @include media-breakpoint-up(md) {
            padding-right: $gutter;
            padding-left: $gutter;
        }
    }

    h2 {
        margin: 0 0 rem(10);
        color: $color-primary;

        @include media-breakpoint-up(lg) {
            margin-bottom: rem(20);
        }

        & + strong {
            display: block;
            margin-bottom: rem(10);
            font-size: rem(20);
            line-height: 1.4;

            @include media-breakpoint-up(lg) {
                font-size: rem(28);
            }
        }
    }

    .info-cards {
        display: grid;
        gap: rem(10);

        @include media-breakpoint-up(md) {
            grid-template-columns: repeat(3, 1fr);
            gap: rem(20) rem(10);
            margin-top: rem(60);
        }

        @include media-breakpoint-up(lg) {
            gap: rem(30);
        }

        .card {
            display: grid;
            align-items: center;
            padding: rem(15) rem(20);
            background-color: $color-primary;
            color: #fff;

            @include media-breakpoint-down(md) {
                grid-auto-rows: minmax(80px, auto);
            }

            @include media-breakpoint-up(md) {
                padding-top: rem(30);
                padding-bottom: rem(30);
            }

            @include media-breakpoint-up(lg) {
                padding-top: rem(40);
                padding-bottom: rem(40);
            }

            &-data {
                grid-template-columns: 120px 1fr;

                @include media-breakpoint-up(md) {
                    grid-template-columns: 100%;
                    align-items: start;
                }

                @include media-breakpoint-up(lg) {
                    grid-template-rows: 78px 1fr;
                }
            }

            em {
                display: block;
                font-size: rem(28);
                font-weight: 700;
                font-style: inherit;
                text-align: left;

                @include media-breakpoint-up(md) {
                    text-align: center;
                }

                @include media-breakpoint-up(lg) {
                    font-size: rem(52);
                }
            }

            span {
                font-size: rem(18);
                font-weight: 700;

                @include media-breakpoint-up(md) {
                    text-align: center;
                }

                @include media-breakpoint-up(lg) {
                    font-size: rem(20);
                }

                > br {
                    @include media-breakpoint-down(md) {
                        display: none;
                    }
                }
            }
        }
    }
}
