.page-header-faq {
    background-color: $color-primary-lightest;
    background-image: url('/images/faq-banner-mobile.png');

    @include media-breakpoint-down(lg) {
        background-position: 75% 100%;
    }

    @include media-breakpoint-up(lg) {
        background-image: url('/images/faq-banner-desktop.png');
    }
}

.faq {
    main {
        padding-right: $gutter-sm;
        padding-left: $gutter-sm;

        @include media-breakpoint-up(md) {
            padding-right: $gutter;
            padding-left: $gutter;
        }
    }

    .breadcrumb {
        & + h1 {
            margin: 0 0 rem(20);
        }
    }
}
