h2 {
    text-transform: uppercase;
}

.hero {
    height: calc(var(--vh, 1vh) * 100 - $header-height-mobile);
    padding: var(--gutter);
    background: $color-primary no-repeat url('/images/mainpage-kv-mobile.jpg') left top;
    background-size: cover;
    color: #fff;

    @include media-breakpoint-up(md) {
        height: auto;
        background-image: url('/images/mainpage-kv-desktop.jpg');
        background-position: center center;

    }

    @include media-breakpoint-up(lg) {
        height: calc(100vh - $header-height-desktop);
    }

    > .container {
        height: 100%;
        max-width: $container-width-lg;
    }

    &-text {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        height: 100%;
        transition: all .6s ease;
        transform: translateX(-10px);
        opacity: 0;

        @include media-breakpoint-up(md) {
            justify-content: center;
            width: 45%;
        }

        @include media-breakpoint-up(xl) {
            width: 35%;
        }

        h1 {
            @include media-breakpoint-between(lg, xl) {
                font-size: rem(70 * .8);
            }
        }

        p {
            @include media-breakpoint-up(lg) {
                font-size: rem(24);
            }

            @include media-breakpoint-between(lg, xl) {
                font-size: rem(24 * .8);
            }
        }
    
        .btn {
            @include media-breakpoint-down(md) {
                align-self: center;
            }
        }

        @at-root .hero.is-loaded & {
            opacity: 1;
            transform: translateX(0);
        }
    }
}

.possibility {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: rem(26);
    background: $color-primary url('/images/wall.png') no-repeat center center;
    background-size: 2160px auto;

    .door {
        position: relative;
        display: flex;
        width: rem(1200);

        &-content {
            position: absolute;
            width: 100%;
            height: 100%;

            .embed-responsive {
                &:before {
                    padding-top: 77.125604%;
            
                    @include media-breakpoint-up(md) {
                        padding-top: 51.145833%;
                    }
                }
            }

            &__text {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                max-width: 75%;
                margin: 0 auto;
                color: #fff;
                text-align: center;
                pointer-events: none;

                @include media-breakpoint-up(md) {
                    max-width: 55%;
                }

                p {
                    @include media-breakpoint-up(lg) {
                        font-size: rem(20);
                    }
                }
            }
        }

        &-left,
        &-right {
            position: relative;
            max-width: 50%;
            pointer-events: none;
        }

        &-left {
            transform-origin: 0% 50%;
        }

        &-right {
            transform-origin: 100% 50%;
        }

        &.is-opened {
            .door-left {
                animation: door-left-mobile 5s 1 forwards;

                @include media-breakpoint-up(md) {
                    animation: door-left-desktop 5s 1 forwards;
                }
            }

            .door-right {
                animation: door-right-mobile 5s 1 forwards;

                @include media-breakpoint-up(md) {
                    animation: door-right-desktop 5s 1 forwards;
                }
            }
        }
    }

    @keyframes door-left-mobile {
        0% {
            transform: perspective(600px) rotateY(0);
        }
        100% {
            transform: perspective(600px) rotateY(70deg);
        }
    }
    
    @keyframes door-right-mobile {
        0% {
            transform: perspective(600px) rotateY(0);
        }
        100% {
            transform: perspective(600px) rotateY(-70deg);
        }
    }
    
    @keyframes door-left-desktop {
        0% {
            transform: perspective(600px) rotateY(0);
        }
        100% {
            transform: perspective(600px) rotateY(50deg);
        }
    }
    
    @keyframes door-right-desktop {
        0% {
            transform: perspective(600px) rotateY(0);
        }
        100% {
            transform: perspective(600px) rotateY(-50deg);
        }
    }
}

.scenario {
    position: relative;
    max-width: 100%;
    overflow-x: hidden;
    padding: $gutter 0;
    background-color: $color-primary-lightest;

    @include media-breakpoint-up(md) {
        padding-bottom: rem(60);
    }

    @media only screen and (min-width: $container-width) {
        padding-bottom: 6%;
    }

    h2 {
        padding: 0 $gutter;
        color: $color-primary;

        @include media-breakpoint-up(lg) {
            padding: 0 !important;
        }
    }

    &-sliders {
        position: relative;

        @include media-breakpoint-up(md) {
            display: flex;
            justify-content: center;
            align-items: stretch;
        }

        @include media-breakpoint-up(lg) {
            justify-content: flex-start;
        }

        @media only screen and (min-width: $container-width)  {
            margin-top: 3%;
        }

        &__image {
            @include media-breakpoint-up(md) {
                flex: 1 0 51.5625%;
                max-width: 51.5625%;
            }

            @media only screen and (min-width: $container-width) {
                flex-basis: 100%;
                max-width: 100%;
            }

            // .swiper-slide-active {
            //     .scenario-item-image {
            //         transition: transform 1s ease;

            //         @include media-breakpoint-up(md) {
            //             transform: scale(1.26666667);
            //         }

            //     }
            // }

            .swiper-slide {
                .scenario-item-image {
                    position: relative;
                    font-size: 0;
            
                    &:before {
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        content: '';
                        background-color: transparentize($color-primary, .52);
                        opacity: 0;
                        transition: opacity .3s ease;
                    }
                }

                &:not(.swiper-slide-active) {
                    .scenario-item-image {
                        &:before {
                            opacity: 1;
                        }
                    }
                }
            }
        }

        &__text {
            position: relative;
            z-index: 2;
            background-color: $color-primary-lightest;

            @include media-breakpoint-up(md) {
                order: -1;
                flex: 1 0 48.4375%;
                max-width: 48.4375%;
            }

            @media only screen and (min-width: $container-width) {
                position: absolute;
                top: -0.16666665%;
                left: calc((100vw - #{$container-width}) / 2) !important;
                width: 21vw;
                height: 100%;

                &:before {
                    content: '';
                    position: absolute;
                    right: 0;
                    left: 0;
                    width: calc(#{$container-width} / 2 + 9%);
                    height: 120%;
                    background-color: $color-primary-lightest;
                }

                &:before {
                    top: -10%;
                    left: -10%;
                }
            }
        }
    }

    &-image-carousel {
        height: 100%;
        padding: 0 $gutter !important;

        @include media-breakpoint-up(md) {
            padding: rem(25) !important;
            overflow: visible !important;
        }

        .swiper-button-prev {
            display: none;
        }

        .swiper-button-next {
            position: absolute;
            top: 50%;
            right: rem(10);
            z-index: 2;
            width: rem(50);
            height: rem(50);
            border: 1px solid $color-primary;
            border-radius: 50%;
            background: #fff no-repeat url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDI0IDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEgNC4wMzJoMjEuMDExTTE5LjUgNyAyMyA0LjA0MyAxOS41IDEiIHN0cm9rZT0iI0VFN0I0NSIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+PC9zdmc+) center;
            transform: translateY(-50%);

            @include media-breakpoint-up(md) {
                right: rem(60);
            }

            @media only screen and (min-width: $container-width) {
                right: 10%;
            }
        }

        .swiper-slide {
            display: flex;
            align-items: center;

            .scenario-item-image {
                transition: transform .3s ease;
            }

            &-active {
                .scenario-item-image {
                    @include media-breakpoint-up(md) {
                        transform: scale(1.26666667);
                    }

                    @include media-breakpoint-up(lg) {
                        transform: scale(1.3333333);
                    }
                }
            }
        }
    }

    &-text-carousel {
        margin: $gutter-sm $gutter !important;

        @media only screen and (min-width: $container-width) {
            margin-right: 0 !important;
            margin-left: 0 !important;
            
            &,
            .swiper-wrapper,
            .swiper-slide {
                height: 100% !important;
            }

            .swiper-slide {
                background-color: $color-primary-lightest;

                &-active,
                &-duplicate-active {
                    opacity: 1 !important;
                }
            }
        }
    }

    &-item-text {
        background-color: $color-primary-lightest;

        @include media-breakpoint-up(lg) {
            display: flex;
            flex-direction: column;
            height: 100%;
        }

        svg {
            @include media-breakpoint-up(lg) {
                width: rem(140);
                height: rem(140);
            }
        }

        &__title {
            margin-top: rem(10);

            @include media-breakpoint-up(lg) {
                font-size: rem(40);
                line-height: 1;
            }
        }

        &__desc {
            margin: rem(10) 0 0;

            @include media-breakpoint-up(lg) {
                margin-top: auto;
            }
        }
    }

    .slider-counter {
        position: absolute;
        right: 25px + 10px;
        z-index: 3;

        @include media-breakpoint-up(md) {
            line-height: 1;
            top: -32px * 1.14285714 - 32px * .831;
            transform: translateY(-50%);
        }

        @media only screen and (min-width: $container-width) {
            top: calc(-50px * .83 - 50px * 1.14285714 * 1.65 - 3%);
            right: calc((100vw - #{$container-width}) / 2);
            transform: none;
        }
    }
}

.showcase {
    display: flex;

    &-situation {
        flex: 1 0 40%;
        background: url('/images/situation.jpg') no-repeat right center;
        background-size: cover;
    }

    &-product {
        max-width: 100%;

        @include media-breakpoint-up(md) {
            max-width: 60%;
        }

        .swiper-slide {
            display: flex;

            img {
                height: 100%;
            }
        }

        &-meta {
            position: absolute;
            top: rem(25);
            left: rem(37);

            @include media-breakpoint-up(lg) {
                top: 2.929688vw;
                left: 3.662109vw;
            }

            &__title {
                color: $color-primary;
                text-transform: uppercase;

                @include media-breakpoint-up(lg) {
                    font-size: rem(52);
                }
            }

            &__spec {
                font-size: rem(20);
                font-weight: 700;
                line-height: 1.4;

                @include media-breakpoint-up(lg) {
                    font-size: 32px;
                }
            }
        }

        .btn {
            position: absolute;
            bottom: rem(50);
            left: 50%;
            transform: translateX(-50%);

            @include media-breakpoint-up(lg) {
                bottom: 5.371094vw;
            }
        }
    }
}

.why {
    padding: $gutter;
    background: url('/images/why-bg-mobile.jpg') no-repeat center center;
    background-size: cover;
    color: #fff;

    @include media-breakpoint-up(md) {
        background-image: url('/images/why-bg-tablet.jpg');
    }

    @include media-breakpoint-up(lg) {
        background-image: url('/images/why-bg-desktop.jpg');
    }

    &-content {
        display: flex;
        flex-direction: column;
        max-width: $container-width-sm;
        margin: 0 auto;

        > svg {
            margin: 0 auto rem(10);

            @include media-breakpoint-up(lg) {
                width: rem(120);
                height: rem(74);
                margin-bottom: rem(20);
            }
        }

        > p {
            font-size: rem(20);
        }

        ul {
            margin-bottom: rem(10);

            @include media-breakpoint-up(md) {
                display: flex;
                align-items: flex-start;
                margin-bottom: rem(20);
            }

            @include media-breakpoint-up(lg) {
                margin-bottom: rem(40);
            }

            > li {
                display: flex;
                align-items: flex-start;
                flex-basis: 33.3333333%;
                margin-bottom: rem(20);

                @for $i from 1 through 3 {
                    &:nth-child(#{$i}) {
                        transition-delay: calc(.3s * #{$i});
                    }
                }

                @include media-breakpoint-up(md) {
                    flex-direction: column;
                    align-items: center;
                    margin-right: rem(20);
                    margin-left: rem(20);
                }

                @include media-breakpoint-up(lg) {
                    margin-right: rem(35);
                    margin-left: rem(35);
                }

                > svg {
                    flex: 1 0 rem(100);
                    max-width: rem(100);
                    margin-right: rem(10);

                    @include media-breakpoint-up(md) {
                        flex-basis: rem(180);
                        width: rem(180);
                        max-width: rem(180);
                        margin-right: 0;
                        margin-bottom: rem(20);
                    }
                }

                h3 {
                    font-size: rem(20);

                    @include media-breakpoint-up(md) {
                        margin-bottom: rem(5);
                        text-align: center;
                    }
                }

                p {
                    margin-bottom: 0;
                }
            }


        }

        .btn {
            align-self: center;
        }
    }
}

.friendly {
    padding: rem(50) $gutter-sm 0;
    background-color: $color-primary-lightest;

    @include media-breakpoint-up(lg) {
        padding-bottom: rem(50);
    }

    &-text {
         padding: 0 $gutter-sm;

         @include media-breakpoint-up(md) {
             display: flex;
             align-items: flex-end;
             margin-bottom: rem(40);
         }

         @include media-breakpoint-up(lg) {
             position: relative;
         }

         picture {
             display: inline-block;
             margin-right: -$gutter-sm * 2;

             @include media-breakpoint-up(md) {
                 order: 1;
                 flex: 1 0 61.197917%;
             }
         }

         h2 {
             color: $color-primary;
         }

         p {
            @include media-breakpoint-up(md) {
                 margin-bottom: 0;
             }

            @media only screen and (min-width: $container-width) {
                position: absolute;
                top: calc(100% + 10px);
                left: 7.28863vw;
                width: 38.802083%;
            }
         }
    }

    &-list {
        display: flex;
        flex-direction: column;

        @include media-breakpoint-up(md) {
            flex-direction: row;
            flex-wrap: wrap;
            padding: 0 rem(10.5);
        }

        @include media-breakpoint-up(lg) {
            cursor: url('/images/carousel-cursor.png'), auto;
        }

        @include media-breakpoint-between(lg, xl) {
            margin-left: 7.324219vw !important;
        }

        @media only screen and (min-width: $container-width) {
            margin-left: calc((100vw - #{$container-width}) / 2 + 6vw) !important;
            margin-right: -$gutter-sm !important;
        }

        &-wrapper {
            position: relative;

            @include media-breakpoint-up(lg) {
                &:before {
                    position: absolute;
                    top: 0;
                    left: -$gutter-sm;
                    width: 44.189453vw;
                    height: 23.4vw;
                    content: '';
                    background: no-repeat url('/images/friendly-list-bg.png');
                    background-size: cover;
                }
            }
        }

        .swiper-wrapper {
            flex-direction: column;

            @include media-breakpoint-up(md) {
                flex-direction: row;
                flex-wrap: wrap;
            }

            @include media-breakpoint-up(lg) {
                flex-wrap: nowrap;
            }
        }

        .swiper-slide {
            display: flex;
            align-items: center;
            margin: rem(7.5);
            margin-bottom: rem(10);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            transition-property: all;

            @include media-breakpoint-down(md) {
                width: calc(100% - 7.5px * 2) !important;
            }

            @include media-breakpoint-down(lg) {
                width: calc(50% - 15px) !important;
            }

            @include media-breakpoint-down(lg) {
                margin-right: 0 !important;
            }

            @include media-breakpoint-up(lg) {
                margin: 0;

                &.swiper-slide-active,
                &:hover,
                &:focus {
                    .friendly-list__title {
                        opacity: 0;
                    }
                }
            }

            @for $i from 1 through 4 {
                &:nth-child(#{$i}) {
                    background-image: url('/images/friendly-list-#{$i}-mobile.jpg');

                    @include media-breakpoint-up(lg) {
                        background-image: url('/images/friendly-list-#{$i}-desktop.jpg');
                    }
                }
            }
        }

        &__title {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex: 1 0 rem(130);
            max-width: rem(130);
            padding: rem(15) rem(10) rem(14);
            background-color: $color-primary;
            color: #fff;
            text-align: center;
            transition: opacity .3s ease;

            @include media-breakpoint-up(lg) {
                position: relative;
                z-index: 1;
                max-width: none;
            }

            @include media-breakpoint-between(lg, xl) {
                width: 23.4vw;
                height: 23.4vw;
            }

            @include media-breakpoint-up(xl) {
                width: rem(400);
                height: rem(400);
            }

            > svg {
                margin-bottom: rem(5);

                @include media-breakpoint-between(lg, xl) {
                    width: rem(120);
                    height: rem(120);
                }

                @include media-breakpoint-up(xl) {
                    width: rem(150);
                    height: rem(150);
                    margin-bottom: rem(36);
                }
            }

            > h3 {
                font-size: rem(18);
            }
        }

        &__desc {
            padding: rem(10);
            margin-bottom: 0;
            color: #fff;
            font-weight: 700;
            vertical-align: middle;

            @include media-breakpoint-up(lg) {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                display: flex;
                align-items: flex-end;
                padding: 0 1.953125vw 3.662109vw;
                font-size: rem(20);
            }
        }
    }

    .slider-counter {
        @include media-breakpoint-between(lg, xl) {
            margin-left: 7.324219vw;
        }

        @media only screen and (min-width: $container-width) {
            padding-left: 6vw !important;
            margin-left: calc((100vw - #{$container-width}) / 2) !important;
            margin-right: -$gutter-sm !important;
        }
    }
}


.reviews {
    width: 100%;
    padding-bottom: rem(55);
    background-color: $color-primary-lightest;
    overflow-x: hidden;

    h2 {
        padding: 0 $gutter;
        margin-top: 0;
        color: $color-primary;
    }

    &-list {
        @include media-breakpoint-up(lg) {
            overflow: visible !important;
        }
    }

    .swiper-slide {
        height: auto;

        .card {
            height: 100%;
            padding: rem(40) rem(20);
            background: url('/images/card-bg.svg') no-repeat right bottom;
            transform-origin: center bottom;
            transition: all .3s ease;

            @include media-breakpoint-up(lg) {
                padding: rem(50) rem(30);
            }

            &:hover {
                box-shadow: 0 4.6px 12.6px 0 #d9d8d9;
                transform: scale3d(1.1, 1.1, 1.1);
            }

            &-title {
                font-size: rem(28);

                @include media-breakpoint-up(lg) {
                    font-size: rem(24);
                }
            }

            &-content {
                font-size: rem(20);

                @include media-breakpoint-up(lg) {
                    font-size: rem(16);
                }
            }
        }
    }
}

.get-in-touch {
    height: 122.666667vw;
    padding: rem(40) $gutter;
    background: no-repeat url('/images/get-in-touch-mobile.jpg') center;
    background-size: cover;

    @include media-breakpoint-up(md) {
        height: auto;
        padding-top: rem(60);
        padding-bottom: rem(60);
        background-image: url('/images/get-in-touch-tablet.jpg');
    }

    @include media-breakpoint-up(lg) {
        padding-top: rem(120);
        padding-bottom: rem(120);
        background-image: url('/images/get-in-touch-desktop.jpg');
    }

    > .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        @include media-breakpoint-up(md) {
            width: 36%;
            margin-left: 0;
        }

        @media only screen and (min-width: $container-width) {
            width: auto;
            margin-left: calc((100vw - #{$container-width}) / 2);
            width: 18.261719vw;
        }
    }

    h2 {
        margin-top: 0;
        color: $color-primary;
    }

    .btn {
        @include media-breakpoint-down(md) {
            align-self: center;
        }

        @include media-breakpoint-up(lg) {
            margin-top: rem(40);
        }
    }
}

.slider-counter {
    color: transparentize($color-primary, .6);
    font-size: rem(36);

    > em {
        font-size: rem(60);
        font-style: normal;
    }
}
