.page-header-installation {
    background-color: $color-primary-lightest;
    background-image: url('/images/installation-banner-mobile.png');

    @include media-breakpoint-down(lg) {
        background-position: 75% 100%;
    }

    @include media-breakpoint-up(lg) {
        background-image: url('/images/installation-banner-desktop.png');
    }
}

.installation {
    main {
        padding-right: $gutter-sm;
        padding-left: $gutter-sm;

        @include media-breakpoint-up(md) {
            padding-right: $gutter;
            padding-left: $gutter;
        }
    }

    &-content {
        @include media-breakpoint-down(md) {
            padding-right: $gutter-sm;
            padding-left: $gutter-sm;
        }

        section {
            &:first-of-type {
                margin-bottom: rem(50);

                @include media-breakpoint-up(lg) {
                    margin-bottom: rem(115);
                }
            }

            .section-title {
                margin-top: 0;
                margin-bottom: rem(32);

                @include media-breakpoint-up(md) {
                    margin-bottom: rem(40);
                }
            }
        }

        .video {
            &-list {
                @include media-breakpoint-up(md) {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    gap: rem(28);
                }

                @include media-breakpoint-up(lg) {
                    gap: rem(20);
                }

                &-block {
                    &:first-of-type {
                        margin-bottom: rem(50);

                        @include media-breakpoint-up(lg) {
                            margin-bottom: rem(60);
                        }
                    }

                    h3 {
                        margin-bottom: rem(18);
                        font-size: rem(20);

                        @include media-breakpoint-up(md) {
                            margin-bottom: rem(30);
                            font-size: rem(24);
                        }
                    }
                }

                li {
                    @include media-breakpoint-down(md) {
                        &:not(:last-of-type) {
                            margin-bottom: rem(30);
                        }
                    }

                    .embed-responsive {
                        &::before {
                            padding-top: 56.25%;
                            padding-bottom: rem(20);
                        }
                    }

                    h4 {
                        margin-top: rem(10);
                    }
                }
            }
        }
    }
}
