.page-header-installation {
    background-color: $color-primary-lightest;
    background-image: url('/images/installation-banner-mobile.png');

    @include media-breakpoint-down(lg) {
        background-position: 75% 100%;
    }

    @include media-breakpoint-up(lg) {
        background-image: url('/images/installation-banner-desktop.png');
    }
}

.installation {
    main {
        padding-right: $gutter-sm;
        padding-left: $gutter-sm;

        @include media-breakpoint-up(md) {
            padding-right: $gutter;
            padding-left: $gutter;
        }
    }

    h1 {
        margin-bottom: rem(20);

        @include media-breakpoint-up(lg) {
            margin-bottom: rem(40);
        }
    }

    &-hero {
        margin-left: calc(50% - 50vw);
        margin-right: calc(50% - 50vw);
        padding: rem(30) 0 rem(24);
        background-color: $color-primary-lighter;

        .section-title {
            margin-top: 0;

            @include media-breakpoint-down(lg) {
                margin-left: $gutter;
            }
        }

        &-videos {
            max-width: 100%;
            overflow: hidden;

            @include media-breakpoint-up(md) {
                padding-top: calc(40px * 1.16666667);
            }

            @include media-breakpoint-up(lg) {
                padding-top: calc(60px * 1.5);
            }
        }

        .video-more-btn {
            text-align: right;

            @include media-breakpoint-down(lg) {
                margin-right: $gutter;
            }
        }
    }

    &-slider {
        padding-bottom: rem(40) !important;
        overflow: visible !important;

        @include media-breakpoint-up(md) {
            padding-bottom: rem(40 * 2) !important;
        }

        @include media-breakpoint-up(lg) {
            padding-bottom: rem(40 * 1.5 * 2) !important;
        }

        .embed-responsive {
            &::before {
                padding-top: 56.25%;
                padding-bottom: rem(20);
            }
        }

        &-title {
            display: block;
            font-weight: 700;
            opacity: 0;
            transition: all .6s ease;

            @include media-breakpoint-down(lg) {
                padding-top: rem(20);
            }

            @include media-breakpoint-down(md) {
                padding: rem(10) $gutter 0;
            }
        }

        .swiper-pagination {
            bottom: 0 !important;
        }

        .swiper-pagination-bullet {
            &:not(.swiper-pagination-bullet-active) {
                background: #fff;
            }
        }

        .embed-responsive {
            transition: transform .6s ease;

            &:after {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                content: '';
                background-color: transparentize(#000, .4);
                transition: background-color .6s ease;
            }
        }

        .swiper-slide {
            &-active,
            &-duplicate-active {
                z-index: 1;

                .embed-responsive {
                    @include media-breakpoint-up(md) {
                        transform: scale(1.16666667);
                    }

                    @include media-breakpoint-up(lg) {
                        transform: scale(1.5);
                    }

                    &:after {
                        background-color: transparentize(#000, 1);
                    }
                }


                > .installation-slider-title {
                    opacity: 1;

                    @include media-breakpoint-up(md) {
                        transform: scale(1.16666667) translateY(calc(20px * 1.16666667));
                    }

                    @include media-breakpoint-up(lg) {
                        font-size: rem(13.3333333);
                        transform: scale(1.5) translateY(calc(20px * 1.5 * 2));
                    }
                }
            }
        }
    }

    &-content {
        margin-top: rem(40);

        @include media-breakpoint-down(md) {
            padding-right: $gutter-sm;
            padding-left: $gutter-sm;
        }

        @include media-breakpoint-up(lg) {
            margin-top: rem(80);
        }

        section {
            &:first-of-type {
                margin-bottom: rem(50);

                @include media-breakpoint-up(lg) {
                    margin-bottom: rem(115);
                }
            }

            .section-title {
                margin-top: 0;
                margin-bottom: rem(32);

                @include media-breakpoint-up(md) {
                    margin-bottom: rem(40);
                }
            }
        }

        .video {
            &-list {
                @include media-breakpoint-up(md) {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    gap: rem(28);
                }

                @include media-breakpoint-up(lg) {
                    gap: rem(20);
                }

                &-block {
                    &:first-of-type {
                        margin-bottom: rem(50);

                        @include media-breakpoint-up(lg) {
                            margin-bottom: rem(60);
                        }
                    }

                    h3 {
                        margin-bottom: rem(18);
                        font-size: rem(20);

                        @include media-breakpoint-up(md) {
                            margin-bottom: rem(30);
                            font-size: rem(24);
                        }
                    }
                }

                li {
                    @include media-breakpoint-down(md) {
                        &:not(:last-of-type) {
                            margin-bottom: rem(30);
                        }
                    }

                    .embed-responsive {
                        &::before {
                            padding-top: 56.25%;
                            padding-bottom: rem(20);
                        }
                    }

                    h4 {
                        margin-top: rem(10);
                    }
                }
            }

            &-more-btn {
                margin-top: rem(30);
                text-align: right;
            }
        }
    }
}
