.page-header {
  height: rem(300);
  padding: $gutter-sm $gutter;
  background: url('/assets/images/products-kv-mobile.jpg') no-repeat center bottom;
  background-size: cover;
  color: #fff;

  @include media-breakpoint-up(md) {
    height: rem(310);
    padding: $gutter;
    background-image: url('/assets/images/products-kv-desktop.jpg');
  }

  @include media-breakpoint-up(lg) {
    height: rem(340);
  }

  @include media-breakpoint-up(xxl) {
    height: 16.60156vw;
  }

  .container {
    max-width: $container-width-sm;

    @include media-breakpoint-up(xxl) {
      height: 100%;
      max-width: none;
    }
  }

  &-text {
    transform: translateX(-10px);
    opacity: 0;
    transition: all 0.6s ease;

    @include media-breakpoint-up(md) {
      max-width: 70%;
    }

    @include media-breakpoint-up(lg) {
      max-width: 60%;
    }

    @include media-breakpoint-up(xxl) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 70%;
      max-width: 27%;
      margin-left: calc(((100vw - 72px) / 12) * 3.3);
    }

    h1 {
      font-size: rem(32);

      @include media-breakpoint-up(md) {
        font-size: rem(40);
      }

      @include media-breakpoint-up(xxl) {
        font-size: 1.95312vw;
      }
    }

    p {
      margin-bottom: rem(16);

      @include media-breakpoint-up(xxl) {
        font-size: 0.78125vw;
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    @at-root .page-header.is-loaded & {
      transform: translateX(0);
      opacity: 1;
    }
  }
}

.products {
  background: $color-primary-lightest;

  &-panel {
    padding: $gutter-sm;

    .container {
      max-width: $container-width-sm;
    }

    .panel {
      margin-top: rem(30);

      @include media-breakpoint-up(md) {
        margin-top: rem(52);
      }

      @include media-breakpoint-up(lg) {
        margin-top: rem(60);
      }

      &-filter {
        display: flex;
        flex-wrap: nowrap;
        margin-top: rem(32);
        margin-right: rem(-18);
        padding-right: rem(18);
        padding-bottom: rem(1);
        line-height: 1;
        overflow-x: auto;

        &::-webkit-scrollbar {
          display: none;
        }

        > li {
          display: flex;
          align-items: center;
          flex: 0 0 auto;

          & + li {
            &::before {
              content: '\007C';
              padding-left: rem(15);
              padding-right: rem(15);

              @include media-breakpoint-up(lg) {
                padding-left: rem(30);
                padding-right: rem(30);
              }
            }
          }

          > a {
            color: inherit !important;
          }

          &.is-active {
            > a {
              font-weight: 700;
              color: $color-primary !important;
            }
          }
        }
      }

      &-sorting {
        display: flex;
        justify-content: space-between;
        margin-top: rem(32);

        @include media-breakpoint-up(lg) {
          margin-top: rem(60);
        }

        &-result {
          font-size: rem(14);

          @include media-breakpoint-up(lg) {
            font-size: rem(20);
          }

          > b {
            margin-left: rem(5);
            font-size: rem(24);
            font-weight: 700;
            color: $color-primary;

            @include media-breakpoint-up(lg) {
              margin-lefft: rem(10);
              font-size: rem(28);
            }
          }
        }
      }
    }
  }
}
