.page-header-product-manuals {
  background-color: $color-primary-lightest;
  background-image: url('/images/product-manuals-banner-mobile.png');

  @include media-breakpoint-down(lg) {
    background-position: 75% 100%;
  }

  @include media-breakpoint-up(lg) {
      background-image: url('/images/product-manuals-banner-desktop.png');
  }
}
