.schedule-a-call {
    main {
        padding-right: $gutter-sm;
        padding-left: $gutter-sm;
    }

    form {
        padding: $gutter var(--gutter);
        margin: 0 calc(var(--gutter) * -1);
        background-color: #fff;

        @include media-breakpoint-up(lg) {
            padding: rem(80) rem(100);
        }

        .select-dropdown {
            a {
                display: flex;
                justify-content: space-between;
                color: inherit;

                &:hover,
                &:focus {
                    font-weight: normal;
                }
            }
        }
    }
}

.page-header-schedule-a-call {
    background-color: $color-primary-lightest;
    background-image: url('/images/schedul-a-call-banner-mobile.png');

    @include media-breakpoint-up(md) {
        background-image: url('/images/schedul-a-call-banner-desktop.png');
    }
}

.timezone-control {
    display: flex;
    justify-content: space-between;
    margin-top: rem(16);
}

.datetime-picker {
    margin-top: rem(30);
}