.page-header-solar {
    background-image: url('/images/solar-banner-mobile.jpg');

    @include media-breakpoint-down(md) {
        height: rem(240);
    }

    @include media-breakpoint-up(lg) {
        background-image: url('/images/solar-banner-desktop.jpg');
    }
}

.solar {
    main {
        padding-right: $gutter-sm;
        padding-left: $gutter-sm;

        @include media-breakpoint-up(md) {
            padding-right: $gutter;
            padding-left: $gutter;
        }
    }

    h2 {
        color: $color-primary;
    }

    &-benefits {
        @include media-breakpoint-up(md) {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            margin: 0 rem(-20);
        }

        > li {
            display: flex;

            @include media-breakpoint-up(md) {
                flex-direction: column;
                flex-basis: 33.33333%;
                align-items: center;
                padding: 0 rem(20);
            }

            > svg {
                flex: 1 0 rem(80);
                margin-right: rem(20);

                @include media-breakpoint-up(md) {
                    flex-basis: rem(120);
                    width: rem(120);
                    height: rem(120);
                    margin-right: 0;
                    margin-bottom: rem(20)
                }
            }

            h3 {
                font-size: rem(20);

                @include media-breakpoint-up(md) {
                    margin-bottom: rem(10);
                    text-align: center;
                }
            }
        }
    }
}