.list--styless {
    list-style: none;
    padding: 0;
    margin: 0;
}

.text-left {
    text-align: left;
}

.text-uppercase {
    text-transform: uppercase;
}

.embed-responsive {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;

    &:before {
        display: block;
        content: '';
    }

    .embed-responsive-item {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }
}