.btn {
    display: inline-block;
    padding: rem(15) rem(40);
    border: 3px solid #fff;
    background-color: #fff;
    color: $color-primary;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    transition-property: all;
    transition-duration: 0.5s;

    &:hover,
    &:focus {
        background-color: $color-primary-light;
        outline: 0;

        &:not(.btn-styless):not(.btn--icon-only) > svg {
            transform: translateX(10px);
        }
    }

    &:not(.btn-styless):not(.btn--icon-only):not(.btn--no-background) {
        min-width: rem(300);
    }

    &:not(.btn-styless):not(.btn--icon-only) {
        > svg {
            margin-left: rem(10);
            transition: transform 0.3s ease;
        }
    }

    &--with-border {
        border-color: $color-primary;
    }

    &--outline {
        background-color: transparent;
        color: #fff;
        border-color: #fff;

        &:hover,
        &:focus {
            background-color: $color-primary-light;
            color: $color-primary;

            > svg {
                path {
                    stroke: $color-primary;
                }
            }
        }

        > svg {
            path {
                stroke: #fff;
            }
        }
    }

    &--fill {
        border-color: $color-primary;
        background-color: $color-primary;
        color: #fff;
        transition: transform 0.25s ease;

        &:hover,
        &:focus {
            background-color: $color-primary;
            transform: scale(0.9);
        }
    }

    &--icon-only {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: rem(150);
        height: rem(150);
        padding: 0;
        border: rem(4.5) solid;
        border-radius: 50%;
        color: $color-primary;

        &:hover,
        &:focus {
            background-color: $color-primary;
        }

        &.btn--small {
            width: rem(60);
            height: rem(60);
            border-width: 3px;
            font-size: rem(12);

            @include media-breakpoint-up(lg) {
                width: rem(70);
                height: rem(70);
                font-size: rem(18);
            }
        }
    }

    &--no-background {
        padding: 0;
        border: 0;
        background-color: transparent;

        &:hover,
        &:focus {
            background-color: transparent;
        }
    }

    &-lg {
        @include media-breakpoint-up(lg) {
            padding-top: rem(25);
            padding-bottom: rem(25);
        }
    }

    &-block {
        width: 100%;
    }

    &-styless {
        padding: 0;
        border: 0;
        background-color: transparent;
        color: inherit;
        font-weight: normal;
        line-height: 1;
        text-transform: none;

        &:hover,
        &:focus {
            background: transparent;
        }
    }

    &:disabled {
        opacity: .2;
        cursor: default;
    }
}

button,
[role='button'],
.btn {
    &:not([disabled]) {
        cursor: pointer;
    }
}
