fieldset {
    padding: 0;
    border: 0;
    margin-bottom: rem(60);
}

legend {
    @extend .h3;

    padding-left: rem(10);
    border-left: rem(7) solid $color-primary;
    margin-bottom: $gutter;
}

.form {
    &-row {
        display: flex;
        flex-direction: column;

        @include media-breakpoint-up(md) {
            flex-direction: row;
            flex-wrap: nowrap;
            margin: 0 (-$gutter-sm);
        }

        &:last-child {
            > .form-group {
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

.form-group {
    flex: 1 0 100%;
    margin-bottom: rem(30);

    @include media-breakpoint-up(md) {
        padding: 0 $gutter-sm;
    }

    &-half {
        @include media-breakpoint-up(md) {
            flex: 1 0 50%;
            padding: 0 $gutter-sm;
        }
    }

    > label {
        margin-bottom: rem(20);
    }

    input,
    textarea {
        padding-top: rem(8);
        padding-bottom: rem(8);
        border-color: $color-secondary;
    }

    .select-dropdown {
        width: 100%;
    }
}

label {
    display: block;
    font-weight: 700;
}

.required {
    color: $color-primary;

    + fieldset {
        margin-top: rem(10);
    }
}

input,
textarea {
    width: 100%;
    border: 0;
    border-bottom: 1px solid $color-secondary-light;
    background-color: transparent;
    font-size: rem(20);

    &:focus,
    &:active {
        border-bottom: 3px solid $color-primary;
        outline: 0;
    }

    &[type='search'] {
        &::-webkit-search-decoration,
        &::-webkit-search-cancel-button,
        &::-webkit-search-results-button,
        &::-webkit-search-results-decoration {
            appearance:none;
        }
    }
}

textarea {
    resize: vertical;
}

.input {
    &-group {
        display: flex;

        input[type='search'] {
            border-bottom: 3px solid $color-primary;

            + .btn {
                border-bottom: 3px solid $color-primary;
            }
        }
    }

    &--solid {
        padding: rem(28.5) rem(20);
        border-radius: rem(10);
        background-color: #fff;

        &,
        &:hover,
        &:focus {
            border: 0;
        }

        + .btn {
            position: absolute;
            top: 50%;
            right: rem(10);
            transform: translateY(-50%);
        }
    }
}

::placeholder {
    color: $color-secondary;
}