.search-box {
    .input-group {
        height: rem(60);
        padding: rem(16) rem(20);
        background-color: #fff;

        @include media-breakpoint-up(md) {
            height: rem(80);
        }
    }

    input[type='search'] {
        border-bottom: 0;
    }

    button[type='submit'] {
        padding-left: rem(10);
    }
}
