.select-dropdown {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: rem(150);

  button {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: rem(10);
    border-bottom: 3px solid $color-primary;
    cursor: pointer;

    span {
      @include media-breakpoint-up(lg) {
        font-size: rem(20);
      }
    }
  }

  &-menu {
    display: none;
    position: absolute;
    top: calc(100% + 12px);
    width: 100%;
    padding: rem(12) 0;
    border: 2px solid $color-primary-light;
    border-radius: rem(10);
    background: #fff;
    z-index: 2;

    a {
      display: block;
      padding: rem(5) rem(20);
      transition: all 0.3s;

      &:hover {
        font-weight: 700;
        background: $color-primary-lighter;
        color: $color-primary;
      }
    }

    .select-dropdown.is-active & {
      display: block;
    }
  }
}
