.select-dropdown {
    position: relative;
    display: inline-block;
    white-space: nowrap;

    > button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding-bottom: rem(10);
        border-bottom: 3px solid $color-primary;
        cursor: pointer;

        span {
            @include media-breakpoint-up(lg) {
                font-size: rem(20);
            }
        }

        > svg {
            &:first-child {
                margin-right: rem(10);
            }

            &:last-child {
                margin-left: rem(60);
            }
        }
    }

    &-placeholder {
        font-size: rem(16);
        color: $color-secondary;

        @include media-breakpoint-up(lg) {
            font-size: rem(20);
        }
    }

    &-menu {
        position: absolute;
        top: calc(100% + 12px);
        min-width: 100%;
        max-height: 0;
        border: 2px solid transparent;
        border-radius: rem(10);
        overflow-y: hidden;
        background: #fff;
        z-index: 2;
        transition: all .4s ease;

        &__inner {
            max-height: rem(320);
            padding: rem(12) 0;
            border-radius: rem(10);
            overflow-y: auto;
        }

        &__top {
            position: sticky;
            top: 0;
            padding: rem(12) rem(20);
            border-top-left-radius: rem(10);
            border-top-right-radius: rem(10);
            background-color: #fff;
        }

        a {
            display: block;
            padding: rem(5) rem(20);
            color: inherit !important;

            &:hover {
                font-weight: 700;
                background: $color-primary-lighter;
                color: $color-primary !important;
            }
        }

        .select-dropdown.is-active & {
            max-height: rem(320);
            border-color: $color-primary-light;
            transition: all .4s ease;
        }
    }
}
