.select-dropdown {
  position: relative;
  display: inline-block;
  height: 100%;
  white-space: nowrap;

  > button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: rem(10);
    border-bottom: 3px solid $color-primary;
    cursor: pointer;

    span {
      @include media-breakpoint-up(lg) {
        font-size: rem(20);
      }
    }

    > svg {
      &:first-child {
        margin-right: rem(10);
      }

      &:last-child {
        margin-left: rem(60);
      }
    }
  }

  &-menu {
    display: none;
    position: absolute;
    top: calc(100% + 12px);
    min-width: 100%;
    max-height: rem(320);
    padding: rem(12) rem(20);
    border: 2px solid $color-primary-light;
    border-radius: rem(10);
    overflow-y: auto;
    background: #fff;
    z-index: 2;

    a {
      display: block;
      padding: rem(5) rem(20);
      margin: 0 rem(-20);
      transition: all 0.3s;

      &:hover {
        font-weight: 700;
        background: $color-primary-lighter;
        color: $color-primary;
      }
    }

    .select-dropdown.is-active & {
      display: block;
    }
  }
}
