:root {
    --swiper-pagination-color: #{$color-primary};
    --swiper-pagination-bullet-inactive-color: #{$color-secondary-light};
    --swiper-pagination-bullet-inactive-opacity: 1;
    --swiper-pagination-bullet-size: 10px;
    --swiper-pagination-bullet-horizontal-gap: 7.5px;
}

.swiper-horizontal > .swiper-pagination-bullets {
    bottom: rem(18) !important;

    @include media-breakpoint-up(lg) {
        bottom: 2.929688vw !important;
    }
}

.swiper-fade {
    .swiper-slide {
        transition-property: opacity;
    }
}